<!DOCTYPE html>
<html>
<head>
<title>Service Manual - printable version</title>
</head>
<body>
<h1>Service Manual - printable version</h1>
<h2>Contents</h2>
	<ul>
	<% contents.each do |item| %>
		<li><%= item %></li>
	<% end %>
	</ul>

</body>
</html>